
/* div#login {
  display:block;
} */
li {
  list-style-type: none;
}

body {
  margin-bottom: 5px;
}

header {
  text-align: center;
  background: url('../images/what_the_fridge_banner.jpeg');
  height: 175px;
}

header > h1 {
  position: relative;
  top: 30px;
  background-color: rgba(255, 255, 255, 0.7);
  width:fit-content;
  margin: 0 auto;
}


nav {
  display: flex;
  background-color: rgb(44, 182, 44);
  opacity: 80%;
  flex-direction: row;
}

nav li {
  display: inline;
}

nav li#sign-out {
  justify-self: end;
  border: 1px solid;
}

div#search-container {
  display: block;
  text-align: center;
  padding: 0px 0px 10px 0px;
}

div#main-fridge-stuff {
  display: flex;
  justify-content: space-evenly;
}

section#fridge-section {
  background-color: rgb(44, 182, 44);
  border: 2px solid;
  padding: 5%;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  height: max-content;
}

div#display-choices {
  display: flex;
  flex-direction: column;
}

section#display {
  background-color: rgb(44, 182, 44);
  border: 2px solid;
  padding: 5%;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 50%;
  max-width: 60%;
}

div.section-div, div.all-items {
  background-color: white;
  line-height: 2em;
  display: flex;
  border: 2px solid black;
  align-items: center;
  justify-content: center;
  margin: 5px 0px;
  border-style: ridge;
  text-align: center;
}

div#add-section {
  margin: auto;
}

div#add-section form {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

div.section-div:hover, .all-items:hover {
  cursor: pointer
}

section#display > ul {
  display: flex;
  flex-flow: row wrap;
}

/* #display > ul > li {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  border: 2px solid black;
  list-style-type: none;
  margin: 5px;
  padding: 5px;
  border-style: ridge;
} */

/* #display > ul > li > img {
  justify-self: center;
  height: 100px;
  width: 100px;
} */


/* #display > ul > li > ul> li {
  list-style-type: none;
}

#display > ul > li > ul> button {
  margin: 5px;
} */

#display div.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  border: 2px solid black;
  margin: 5px;
  padding: 5px;
  border-style: ridge;
  max-width: 14em;
  height: max-content;
}


#display div.card img {
  padding: 10px 0px 0px 0px;
  justify-self: center;
  height: 100px;
  width: 100px;
}

#display .card-title {
  padding: 10px;
}

#display div.card ul {
  margin: 0;
  padding: 5px;
}

.card-button-div {
  display:flex;
  justify-content: space-evenly;
}

.card-button {
  margin: 5px;
}

h2 {
  text-align: center;
}

li#sign-out {
  width: fit-content;
}

.hidden {
  display: none;
}
