
/* div#login {
  display:block;
} */


div#search-container {
  display: block;
  text-align: center;
}

div#main-fridge-stuff {
  display: flex;
  justify-content: space-evenly;
}

#display > ul > li > img{
  display: block;
}

.hidden {
  display: none;
}